{% extends 'main/content.html' %}
{% load static %}
{% block title %}
3.5. Расширение шаблонов
{% endblock %}
    {% block head %}Расширение шаблонов{% endblock %}
{% block content %}

    
    <p>Нередко шаблоны должны иметь одинаковую базовую структуру, одни и те же блоки, при этом определять для отдельных блоков различное содержимое. Это позволяет сформировать единообразный стиль 
    сайта, когда веб-страницы имеют одни и те же структурные элементы - меню, хедер, футер, сайдбары и так далее.</p> 
    <p>В этом случае мы можем определять все шаблоны по отдельности. Однако если возникнет необходимость изменить какой-то блок, например, добавить в общее меню еще один пункт, 
    тогда придется менять все шаблоны, коих может быть довольно много. И в этом случае оптимальнее повторно использовать один базовый шаблон, который определяет все основные блоки.</p>
    <p>Например, определим шаблон, который назовем <strong>base.html</strong>:</p>
    
    <img class="displayed" src="{% static "images/3/scr1.png" %}" alt="Пути к шаблонам в Django">

    <img class="displayed" src="{% static "images/3/scr5.png" %}" alt="Пути к шаблонам в Django">
    <p>Например, блок <strong>title</strong>:</p>
    
    <img class="displayed" src="{% static "images/3/scr2.png" %}">
    
    <p>Когда другие шаблоны будут применять данный шаблон, то они могут определить для блока title какое-то свое содержимое.</p>
    <p>Для каждого блока можно определить содержимое по умолчанию. Так, для блока title это строка "Default title". И если другие шаблоны, которые будут использовать 
    данный шаблон, не определяет содержимое для блока title, то данный блок будет использовать строку "Default title"</p>
    <p>Подобным образом здесь определены блоки header и content. Содержимое по умолчанию для блоков определять не обязательно. 
    Самих блоков при необходимости можно определить сколько угодно.</p>
    <p>Кроме того, в базовом шаблоне определен футер, однако покольку, допустим, мы хотим сделать его общим для всех страниц, то для него не определен отдельный блок.</p>
    <p>Теперь применим этот базовый шаблон. Например, создадим новый шаблон <strong>index.html</strong>:</p>

    <img class="displayed" src="{% static "images/3/scr3.png" %}">
    
    <p>С помощью выражения <code>extends "base.html"</code> определяем, какой базовый шаблон будет расширяться. 
    Затем определяется содержимое для блоков title и header. Стоит отметить, что необязательно указывать содержимое для всех блоков базового шаблона.</p>
    <p>В итоге по шаблону index.html будет создана следующая веб-страница:</p>
    <img class="displayed" src="{% static "images/3/2.18.png" %}" alt="reusable templates">
    <p>Создадим также шаблон <strong>about.html</strong>:</p>

    <img class="displayed" src="{% static "images/3/scr4.png" %}">

    <p>Этот шаблон также расширяет базовый шаблон base.html. В отличие от index.html здесь также определяется содержимое для блока content. 
    В результате мы получим следующую веб-страницу:</p>
    <img class="displayed" src="{% static "images/3/2.19.png" %}" alt="Расширение шаблонов в Django">
    <p>В итоге если нам потребуется изменить структуру всех веб-страниц сайта, добавить новые элементы или убрать старые, то достаточно будет изменить один базовый шаблон.</p>
    
{% endblock %}