{% extends 'main/content.html' %}
{% load static %}
{% block title %}
1.2 Проект Джанго
{% endblock %}
    {% block head %}Проект Django{% endblock %}
{% block content %}
    <h4>Выбор редактора</h4>
        <p align="justify">Поскольку мы не можем набирать программу в командной строке интерпретатора каждый раз, когда нам нужно что-то запустить, нам понадобится сохранять программы в
        файлах, чтобы потом иметь возможность запускать их сколько угодно раз.</p>
        <p align="justify"> Хороший редактор поможет
        вам легко писать программы на Python, делая ваше путешествие более комфортным, а
        также позволяя быстрее и безопаснее достичь вашей цели.
        Одно из самых основных требований – это подсветка синтаксиса, когда разные элементы
        программы на Python раскрашены так, чтобы вы могли легко видеть вашу программу и
        ход её выполнения.
        Если вы не знаете, с чего начать, я бы порекомендовал воспользоваться программой <a class="reference external" href="https://www.jetbrains.com/ru-ru/pycharm/"> PyCharm. </a> </p>
        <h4>Проект</h4>
        <p align="justify">Следующее, что нам нужно сделать, — создать новый проект. Проектом называется совокупность всего программного кода, составляющего разрабатываемый сайт.
Можно даже сказать, что проект — это и есть наш сайт. Физически он представляет
собой папку, в которой находятся разнообразные файлы с исходным кодом и другие папки (назовем ее папкой проекта).
    </p>
    <p align="justify">Давайте же создадим новый, пока еще пустой проект Django, которому дадим имя
    <em>hello</em>. Для этого <strong>в командной строке перейдем в папку,
    в которой должна находиться папка проекта, и отдадим команду:</strong>
    </p>
    
    <div class="console">
        <pre class="consoletext" style="background-color: #000000; color: #FFFF;">django-admin startproject hello</pre>
    </div>
    
    <p align="justify">Утилита django-admin служит для выполнения разнообразных административных
    задач. В частности, команда startproject указывает ей создать новый проект
    с именем, записанным после этой команды.
    </p>
    <p align="justify">В папке, в которую мы ранее перешли, будет создана следующая структура файлов
    и папок:
    </p>
    <img src="{% static "images/hello1.png" %}" alt="3" >
    <p align="justify"> &#10004 «Внешняя» папка <em>hello</em> — это, как нетрудно догадаться, и есть папка проекта.
        Как видим, ее имя совпадает с именем проекта, записанным в вызове утилиты
        django-admin. А содержимое этой папки таково:
    <p align="justify"> &#10004 manage.py — выполняет различные команды проекта, например, запускает приложени;</p>
    <p align="justify"> &#10004 «внутренняя» папка <em>hello</em> — формирует пакет языка Python, содержащий
        модули, которые относятся к проекту целиком и задают его конфигурацию
        (в частности, ключевые настройки). Название этого пакета совпадает с названием проекта и менять его не стоит — в противном случае придется вносить в код
        обширные правки.</p>
    <p align="justify">Пакет конфигурации включает в себя такие модули:</p>
    <ul>
        <ul>
            <p align="justify">&#149 __init__.py — пустой файл, сообщающий Python, что папка, в которой он находится, является полноценным пакетом; </p>
            <p align="justify">&#149 settings.py — модуль с настройками самого проекта. Включает описание конфигурации базы данных проекта, пути ключевых папок, важные параметры,
            связанные с безопасностью, и пр.; </p>
            <p align="justify">&#149 urls.py — содержит шаблоны URL-адресов, по сути определяет систему маршрутизации проекта; </p>
            <p align="justify">&#149 wsgi.py — содержит свойства конфигурации WSGI (Web Server Gateway Inerface). Он используется при развертывании проекта.</p>
        </ul>
        </li>
        </ul>
    </p>
    <p align="justify">Проект Django мы можем поместить в любое место файловой системы компьютера.
    Мы также можем переименовать папку проекта. В результате всего этого проект не
        потеряет своей работоспособности.
    </p>
    <h4>Отладочный веб-сервер Django</h4>
    <p align="justify">В процессе разработки сайта нам придется неоднократно открывать его в вебобозревателе для тестирования. Если бы мы использовали другую фундаментальную программную платформу, например PHP, и другой фреймворк, такой как Yii
        или Laravel, — нам пришлось бы устанавливать на свой компьютер программу вебсервера. Но в случае с Django делать этого не нужно — в состав Django входит отладочный веб-сервер, написанный на самом языке Python, не требующий сложной
        настройки и всегда готовый к работе. Чтобы запустить его, следует в командной
        строке перейти непосредственно в папку проекта (именно в нее, а не в папку,
        в которой находится папка проекта!) и отдать команду:
            </p>
            <pre class="consoletext" style="background-color: #000000; color: #FFFF;">python manage.py runserver</pre>
           
            <p align="justify">Здесь мы пользуемся уже утилитой manage.py, сгенерированной программой djangoadmin при создании проекта. Команда runserver, которую мы записали после имени
        этой утилиты, как раз и запускает отладочный веб-сервер. </p>
        <p align="justify">Последний сразу же выдаст нам небольшое сообщение, говорящее о том, что код
        сайта загружен, проверен на предмет ошибок и запущен в работу, и что сам сайт
        теперь доступен по интернет-адресу http://127.0.0.1:8000/ (хотя намного удобнее
        набрать адрес http://localhost:8000/ — он проще запоминается). Как видим, отладочный сервер по умолчанию работает через TCP-порт 8000 (впрочем, при необходимости можно использовать другой)</p>
        
        <p align="justify">Запустим веб-обозреватель и наберем в нем один из интернет-адресов нашего
        сайта. Мы увидим информационную страничку, предоставленную самим Django и
        сообщающую, что сайт, хоть еще и «пуст», но, в целом, работает </p>
        <img src="{% static "images/runserver.png" %}" alt="site logo" >
        <p align="justify">Остановить отладочный веб-сервер можно, переключившись в экземпляр командной строки, в которой он был запущен, и нажав комбинацию клавиш (Ctrl) +
            (Break). </p>
{% endblock %}