{% extends 'main/content.html' %}
{% load static %}
{% block title %}
Введение
{% endblock %}
    {% block head %}Введение{% endblock %}
{% block content %}

<h4>Что такое Django</h4>
<img class="displayed" src="{% static "images/Shapka.png" %}" alt="site logo" >
<p align="justify">Django — бесплатный и свободный фреймворк для веб-приложений на языке Python. Фреймворк — это набор компонентов, которые помогают разрабатывать веб-сайты быстро и просто.</p>
<p align="justify">Каждый раз при разработке веб-сайтов требуются похожие компоненты: способ аутентифицировать пользователей (вход, выход, регистрация), панель управления сайтом, формы, инструменты для загрузки файлов и т. д.</p>
<p align="justify">Вокруг Django быстро сформировалось активное сообщество. Фреймворк стал стремительно развиваться усилиями волонтёров. Значительную роль в успехе Django сыграли несколько известных сайтов, которые использовали этот фреймворк. В их число входят Pinterest, Dropbox, Spotify, сайт The Washington Post. В настоящее время сообщество Django включает более 11 тыс. разработчиков из 166 стран мира.</p>
<p align="justify"></p>
<p align="justify"></p>
<h4>История</h4>
<style>
    IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
   </style>
<img class="displayed" src="{% static "images/website_logo1.png" %}" alt="site logo" >
<p align="justify">Django создали разработчики издания Lawrence-Journal World. Этой газете понадобился сайт, чтобы публиковать новости в интернете. Программисты Адриан Головатый и Саймон Виллисон создали веб-приложение и сделали его публичным.</p>
<p align="justify"></p>
<p align="justify">Вокруг Django быстро сформировалось активное сообщество. Фреймворк стал стремительно развиваться усилиями волонтёров. Значительную роль в успехе Django сыграли несколько известных сайтов, которые использовали этот фреймворк. В их число входят Pinterest, Dropbox, Spotify, сайт The Washington Post. В настоящее время сообщество Django включает более 11 тыс. разработчиков из 166 стран мира.</p>
<p align="justify"></p>
<img class="displayed" src="{% static "images/topDjango.png" %}" alt="site logo" >
<h4>Использование</h4>
<p align="justify">В Django реализован принцип DRY (don’t repeat yourself). Благодаря этому сокращается время создания сайтов. То есть при использовании Django вам не нужно несколько раз переписывать один и тот же код. Фреймворк позволяет создавать сайт из компонентов. Это можно сравнить со строительством с помощью Lego.</p>
<p align="justify">Фреймворк Django справляется с большим количеством задач и повышенными нагрузками. Также Django подходит для создания алгоритмических генераторов, платформ для электронных рассылок, систем верификации, систем фильтрации с динамическими правилами и сложными параметрами, платформ для анализа данных и сложных вычислений, машинного обучения.</p>
<p align="justify">Тысячи сайтов в разных странах мира созданы на Django. Этот фреймворк отлично подходит для разработки веб-приложений.</p>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    <p><strong>Примечание</strong>: Рекомендуется базовое понимание концепций программирования и языка Python, но это не обязательно для освоения основных понятий. </p>
    <p>Python является одним из самых доступных в чтении и понимании для новичков языком программирования.
       Тем не менее, если вы захотите глубже понять этот модуль, в Интернете сейчас доступны многочисленные бесплатные книги и учебные пособия
       (новички в программирование возможно захотят посетить <a href="https://wiki.python.org/moin/BeginnersGuide/NonProgrammers" class="external" rel=" noopener">Python for Non Programmers</a>.</p>

</nav>
</div>

{% endblock %}