{% extends 'main/based.html' %}
{% load static %}
{% block title %}
О сайте
{% endblock %}

{% block content %}    
<div class="alert alert-dark mt-2">
    <h3>Обучающе-контролирующая программа</h3>
    <p align="justify">Программа была разработана в рамках выпускной квалификационной работы на языке python с помощью фреймворка Django </p>
    <p align="justify">ВЫПОЛНИЛ: студент 5курса
    группы ИМ_306 ФМФ Донгак Т.В</p>
    <p align="justify">НАУЧНЫЙ РУКОВОДИТЕЛЬ: доцент Далаа С.М.</p>
</div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2021</p>
    </footer>
{% endblock %}

