<!doctype html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">Django</p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="{% url 'home' %}">Главная</a>
    <a class="p-2 text-dark" href="{% url 'vvod' %}">Содержание</a>
    <a class="p-2 text-dark" href="{% url 'testing' %}">Тест</a>
    <a class="p-2 text-dark" href="{% url 'about' %}">О сайте</a>
  </nav>
</div>
    <style>
   p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
   body{
    background-color: #ccf5cf; /* Цвет фона веб-страницы */
   }
   IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
  </style>
    <div class="container">
        <img class="displayed" src="{% static "images/logo1.png" %}" alt="site logo" >
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>